<%#encoding:UTF-8%><%
if @style == 'partintro'
%><div<%= @id && %( id="#{@id}") %> class="<%= [(@style == 'open' ? nil : @style),role].compact * ' ' %>"><%
  if title? %>
<h2><%= title %></dh2<%
  end %>
<%= content %>
</div><%
end %>
